@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Orbitron:wght@400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #ffffff7a;
  text-decoration: none;
  list-style: none;
}
.MAX-CONTAINER {
  max-width: 1440px;
  margin: 0px auto;
  animation: fullmax 1s linear;
}
@keyframes fullmax {
  from {
    opacity: 0;
    /* scale: 0.5; */
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    /* scale: 1; */
    transform: translateX(0px);
  }
}
body {
  height: 500vh;
  /* background-image: linear-gradient(349deg, #08102c 0%, #030506 50%, #1a212a 100%); */
  background-color: #000000;
  background-image: linear-gradient(
    157deg,
    #182925 0%,
    #0d1217 33%,
    #0c0c0e 66%,
    #0e0e0f 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  height: 100px;
  padding: 0px 0px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
}
nav ul li {
  padding: 0px 0;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}
nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  top: 21px;
  bottom: 15px;
  height: 2px;
  width: 100%;
  background: #5e3f3f;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 19px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
.logo img {
  height: 144px;
  width: 24%;
  margin-left: 79px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: rgb(187, 110, 110);
}
nav ul li i {
  font-size: 23px;
}
nav ul li.btn {
  display: none;
}
nav ul li.btn.hide i:before {
  content: "\f00d";
}
@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }

  .container-1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .left-1 h1 {
    font-size: 55px;
  }

  /* aboout information */
  .information {
    flex-wrap: wrap;
    text-align: justify;
  }

  .left-2 {
    text-align: center;
  }

  /* SKILLS */
  .container-3 {
    flex-direction: column;
  }
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}
.left-1 {
  width: 65%;
  margin-top: 150px;
}
.left-1 h1 {
  font-size: 80px;

  font-style: italic;
}
.left-1 h4 {
  font-size: 25px;
  line-height: 44px;
}
.left-1 h5 {
  margin-top: 12px;
}
.left-1 a {
  color: #000000;
  font-size: 16px;
  transition: all 0.3s ease;
}
.left-1 a:hover {
  color: brown;
}
.link {
  transform: rotate(90deg);

  right: -35px;
  position: fixed;
  top: 367px;
}
.link a {
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}
.link a:hover {
  color: #17644ad4;
}
.link span {
  position: relative;
  position: relative;
  top: -10px;
  left: 230px;
  color: black;
}
/* FIRST-CONTAINER_COMPLETED */
/* ********************************* */

/* SECOND-CONTAINER STARTING */

.abtheading h1 {
  margin-top: 223px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@keyframes footer {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.container-2 {
  animation: footer linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

  margin-top: 43px;
  display: flex;
  gap: 51px;
  flex-direction: column;
  align-items: center;
}

.left-2 {
  width: 63%;
  line-height: 29px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.right-2 {
  margin-right: 100px;
}
.right-2 img {
  height: 381px;
  width: 137%;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.right-2 img:hover {
  box-shadow: 0 0 12px #757579;
  transform: translate(0px, 9px);
}

/* THIRD CONTAINER STARTING */
.container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-top: 217px;
}
.top-1 h1 {
  font-family: "Montserrat", sans-serif;
}
.Bottom {
  width: 43%;
}

.box1 {
  height: 59px;
  width: 102%;
  margin-top: 11px;
  font-family: "Montserrat", sans-serif;
  margin-left: 0px;
}
.Skills {
  /* display: block; */
}
.Skills p {
  float: right;
}
.Full-fil {
  /* border: 1px solid black; */
  height: 15px;
  width: 100%;
  margin-top: 10px;
  background-color: #7f7575;
  border-radius: 6px;
}
.half-fill {
  /* border: 1px solid black; */
  height: 14px;
  width: 100%;
  border-radius: 6px;
  background-color: #5d5325;
}
.half-fill-2 {
  height: 14px;
  width: 91%;
  border-radius: 6px;
  background-color: #5d5325;
}
.half-fill-3 {
  height: 14px;
  width: 17%;
  border-radius: 6px;
  background-color: #5d5325;
}
.information {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.information p {
  margin-top: 6px;
}
